# image files
*.svg
*.pdn


# unpacked mods
tome-tareyal
tome-raider
tome-improved-restauto

# not-to-upload yet mods
tome-race-yaech
tome-speedbars
tome-orcs-dev
tome-orcs.dev
tome-orcs
tome-Infinite100
tome-classwitchdoctor
boot-cosmetic-ui-frogge
tome-cosmetic-ui-frogge
tome-campaign-hammer-characters
tome-classtrooper

# ToME files
*.teaa
*.teaac
.keep

# Compiled Lua sources
luac.out

# luarocks build files
*.src.rock
*.zip
*.tar.gz

# Object files
*.o
*.os
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
